body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 1rem;
    color: white;
}

main {
    padding: 1rem;
    flex: 1;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.search-form input {
    width: 60%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    font-size: 1rem;
}

.search-btn {
    padding: 0.6rem 1rem;
    border: none;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

#recipeContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.recipe-card {
    background: white;
    border-radius: 10px;
    max-width: 900px;
    max-height: 300px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.recipe-img {
    width: 100%;
    display: block;
}

.recipe-info {
    padding: 1rem;
}

.recipe-tag {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 2px solid black;
}

.recipe-title {
    margin: 0.6rem 0;
    font-size: 1.8rem;
}

.rating {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    display: block;
}

.recipe-desc {
    line-height: 1.4;
}

@media (min-width: 600px) {
    .recipe-card {
        display: flex;
    }

    .recipe-img {
        width: 50%;
        height: auto;
    }

    .recipe-info {
        width: 50%;
    }

    footer {
        flex-direction: row;
    }
}

@media (max-width: 599px) {
    footer {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-text {
        padding-left: 0;
        text-align: center;
    }

    .social {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .social img {
        padding-right: 0;
    }
}

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    padding-bottom: 20px;
}

.footer-text {
    padding-left: 20px;
    color: teal;
}

.social img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
    margin: 0 5px;
}