body {
    margin: 0;
    font-family: Georgia, serif;
    color: #473144;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

h2 {
    color: #AF1B3F;
    margin-bottom: 0.5rem;
}

p {
    color: #473144;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
    margin: 0;
    font-size: large;
}

nav a {
    color: #AF1B3F;
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: #EFC69B;
    margin: 0;
}

footer {
    text-align: center;
    padding: 30px 0;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.book-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.book {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    padding-bottom: 2rem;
}

.book-info {
    text-align: right;
    font-size: 0.9rem;
    color: #473144;
    border-right: 2px solid #EFC69B;
    padding-right: 1rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
}


.book-image {
    text-align: left;

}

.book-image img {
    display: block;
    margin: 0.5rem auto;
    width: 300px;
}

.book-image p {
    font-size: 1rem;
    margin-top: 0;
    color: #473144;
}

.filters-box {
    border: 1px solid #EFC69B;
    padding: 1rem;
    align-self: start;
}
.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background: #AF1B3F;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    z-index: 1000;
    transition: top 0.3s ease;
}

.skiptocontent a:focus {
    top: 0;
}
